/*
div {
    max-width: 800px;
    height: 800px;
}
*/

/*
div.a {
    font-size: 5px;
}

.exclaim .reveal .state-background {
  background: gray;
} 

.exclaim .reveal h1,
.exclaim .reveal h2,
.exclaim .reveal p {
  color: white;
}
*/